body {
    background-color: #ffebdc;
    font-family: sans-serif;
    margin: 0;
}

.banner {
    position: absolute;
    /* height: 85.5vh; */
    height: 70vh;
    width: 100%;
    background-image: linear-gradient(to right, #ff7300df, #ff73009f);
    z-index: -1;
    margin: 0;
}

#main-frame {
    margin: 0 auto 0 auto;
    background-color: #f9fdff;
    border-radius: 1vw;
    height: 60vh;
    width: 86vw;
    padding: 2vw;
    display: flex;
    box-shadow: 0px 0px 20px rgb(101, 101, 101);
}

.header {
    margin: 0 auto 0 auto;
    padding: 2vw 0 6vw 0;
    width: 90vw;
}

.header-text {
    color: black;
    font-size: 1.5vw;
    font-family: 'Rubik Mono One';
}

.content {
    font-size: 1vw;
    text-align: justify;
    width: 53.8vw;
    background-color: #f9fdff;
}

#name {
    font-size: 3vw;
}

.contacts {
    size: 3vw;
    font-weight: 400;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    color: black;
    background-color: #ffffff;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    background-size: 100%;
    transition: color 0.5s, background 0.5s;
}

.fa:hover {
    color: white;
}

.fa-github:hover {
    background: #272B33;
    border-color: white;
}

.fa-twitter:hover {
    background: #55ACEE;
    border-color: white;
}

.fa-linkedin:hover {
    background: #0077B5;
    border-color: white;
}

.fa-facebook:hover {
    background: #3B5998;
    border-color: white;
}

.fa-whatsapp:hover {
    background: #25D366;
    border-color: white;
}

.fa-google:hover {
    background: #DB4437;
    border-color: white;
}

.about-myself {
    margin: 7vw auto 2vw auto;
    width: 60vw;
    text-align: justify;
    font-size: 1.4vw;
    display: block;
}

.journey {
    background-image: linear-gradient(to right, #ff7300df, #ff73009f);
}

.journey-content {
    margin: 7vw auto 2vw auto;
    text-align: center;
    font-size: 1.4vw;
    width: 70vw;
}

.timeline {
    position: relative;
    max-width: 70vw;
    margin: 0 auto;
}

.timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: white;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
}

.container {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 43.3%;
}

.container::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: white;
    border: 4px solid #000000;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
}

.left {
    left: 0;
}

.right {
    left: 50%;
}

.left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid white;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent white;
}

.right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
}

.right::after {
    left: -16px;
}

.content2 {
    padding: 20px 30px;
    background-color: white;
    position: relative;
    border-radius: 6px;
    max-width: fit-content;
}

@media screen and (max-width: 600px) {
    .timeline::after {
        left: 31px;
    }
    .container {
        width: 100%;
        padding-left: 70px;
        padding-right: 25px;
    }
    .container::before {
        left: 60px;
        border: medium solid white;
        border-width: 10px 10px 10px 0;
        border-color: transparent white transparent transparent;
    }
    .left::after,
    .right::after {
        left: 15px;
    }
    .right {
        left: 0%;
    }
}

.skills {
    padding: 7vw 0 5vw 0;
    margin-top: 20px;
}

h2 {
    color: rgb(0, 0, 0);
}

.title {
    font-weight: bold;
    font-size: 20px;
    color: #db3a34;
}

.bar {
    width: 90%;
    height: 35px;
    background: #fff;
    border-radius: 5px;
    position: relative;
    transition: all 2s linear;
}

.bar-1 {
    width: 80%;
    margin: 10px auto 25px;
}

.bar-inner {
    height: 35px;
    line-height: 35px;
    border-radius: 5px 0 0 5px;
}

.bar-percent {
    position: absolute;
    right: 10px;
    top: 5px;
    font-size: 18px;
}

.end {
    width: 100%;
}

.page-end {
    background-color: #000000;
    padding: 7vw 10vw 7vw 10vw;
    color: white;
    display: flex;
}